{% extends "layout.html" %}

{% block content %}

<body style="background-color:#1449E3;">

<h2><font color="white">{{ 'Few details about me' }}</font></h2>


<p><font color="white">My name is Itay Shachar, I'm 15 years old and I live in Tel Aviv which loceted in Israel. I study in the school named "Tichonet" for more then 3 year and this year I started to learn Computer Science.</font></p>

<img src="static/Pictures/Sammy Offer.jpg" alt="Me in the first game at Sammy Offer stadium"/>

</body>

{% endblock %}
