{% extends "layout.html" %}

{% block content %}

<body style="background-color:#1449E3;">

<div class="jumbotron" color="white">
    <h1><font color="blue">My Photo Album Site</font></h1>
    <h2><font color="blue">Made by: Itay Shachar</font></h2>
    <p class="lead"><font color="blue">This Flask Site have few pages. The most important page is the 'Photo Album' Page which shows the top 10 richest people on earth!</font></p>
</div>

<div class="row"><font color="white">
    <div class="col-md-4">
        <h2>The Top 10</h2>

        <p>The Top 10 richest people on earth in 2019 are:</p>
        <p>1. Jeff Bezos.</p>
        <p>2. Bill Gates.</p>
        <p>3. Warren Buffett.</p>
        <p>4. Bernard Arnault.</p>
        <p>5. Carlos Slim.</p>
        <p>6. Amancio Ortega.</p>
        <p>7. Larry Ellison.</p>
        <p>8. Mark Zuckerberg.</p>
        <p>9. Michael Bloomberg.</p>
        <p>10. Larry Page.</p>

        <p><a class="btn btn-default" href="https://www.forbes.com/billionaires/#6fb3a71251c7" target="_blank">This link is the link that shows the 'Top 10' and much more! &raquo;</a></p>
    </div></font>

    <div class="col-md-4">
        <h2><font color="white">About the Data</font></h2>
        <p><font color="white">I took the data about the 'Top 10' from the site "Forbes".</font></p>
        <font color="white"><p><a class="btn btn-default" href="https://www.forbes.com/" target="_blank">Learn more About the site "Forbes". &raquo;</a></p></font>
    
    </div>
    <div class="col-md-4">
        <h2><font color="white">About the Photo Album</font></h2>
        <p><font color="white">I made this Photo Album by myself and I got help from the site named by "W3Schools".</font></p>
        <font color="white"><p><a class="btn btn-default" href="https://www.w3schools.com/" target="_blank">Learn more about the site "W3Schools". &raquo;</a></p></font>
</div>
</div>

</body>

{% endblock %}
