{% extends "layout.html" %}

{% block content %}

<body style="background-color:#1449E3;">


<h2><font color="white">{{ 'Top 10 richest people' }}.</font></h2>
<h3><font color="white">{{ 'This table will show the top 10 richest people around the world acording to the year 2019.' }}</font></h3>

<table border="1"   text-align: left;   border-spacing: 20px;>

    <tr>
        <td>
            <img src="static/Pictures/Jeff Bezos.jpg" alt="A picture of Jeff Bezos" width="100" height="100">
        </td>
        <td>
            <img src="static/Pictures/bill gates.jpg" alt="A picture of Bill Gates" width="100" height="100">
        </td>
        <td>
            <img src="static/Pictures/Warren Buffett.jpg" alt="A picture of Warren Buffett" width="100" height="100">
        </td>
        <td>
            <img src="static/Pictures/Bernard Arnault.jpg" alt="A picture of Bernard Arnault" width="100" height="100">
        </td>
        <td>
            <img src="static/Pictures/Carlos Slim.jpg" alt="A picture of Carlos slim" width="100" height="100">
        </td>
    </tr>

    <tr>
        <td>
            <img src="static/Pictures/Amancio Ortega.jpg" alt="A picture of Amancio Ortega" width="100" height="100">
        </td>
        <td>
            <img src="static/Pictures/Larry Ellison.jpg" alt="A picture of Larry Ellison" width="100" height="100">
        </td>
        <td>
            <img src="static/Pictures/Mark Zuckerberg.jpg" alt="A picture of Mark Zuckerberg" width="100" height="100">
        </td>
        <td>
            <img src="static/Pictures/Michael Bloomberg.jpg" alt="A picture of Michael Bloomberg" width="100" height="100">
        </td>
        <td>
            <img src="static/Pictures/Larry Page.jpg" alt="A picture of Larry Page" width="100" height="100">
        </td>



    </tr>

    </table>
    
    </body>
    {% endblock %}
